In [15]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

## Explore the Data that was scraped

In [5]:
df = pd.read_csv('day_2\Restaurants1.csv', index_col=None)
df.shape

(92, 5)

In [13]:
df.dtypes

restaurant    object
street        object
zip            int64
city          object
country       object
dtype: object

In [14]:
df.head()

  restaurant             street    zip    city  country
0  Starbucks      Am Bahnhof 40  57072  Siegen  Germany
1  Starbucks   Neue Promenade 3  10178  Berlin  Germany
2  Starbucks  Dircksenstrasse 2  10179  Berlin  Germany
3  Starbucks   Alexanderplatz 2  10178  Berlin  Germany
4  Starbucks   Grunerstrasse 20  10719  Berlin  Germany