In [12]:
import pandas as pd
import numpy as np
import requests
import json

## Examine the Data

In [2]:
df = pd.read_csv('Restaurants1.csv')

In [3]:
df.shape

(92, 5)

In [5]:
df.sample(n=10)

   restaurant                     street    zip    city  country
43  McDonalds     Greifswalder Stra�e 80  10405  Berlin  Germany
41  McDonalds         Werner-Vo�-Damm 62  12101  Berlin  Germany
20  McDonalds              Hansastra�e 1  13053  Berlin  Germany
17  McDonalds           Alexanderplatz 1  10178  Berlin  Germany
7   Starbucks           Pariser Platz 4a  10117  Berlin  Germany
24  McDonalds         Schnellerstra�e 21  12439  Berlin  Germany
26  McDonalds          Weitlingstra�e 22  10317  Berlin  Germany
4   Starbucks           Grunerstrasse 20  10719  Berlin  Germany
54  McDonalds             Heerstra�e 666  13591  Berlin  Germany
90     Subway  Walther-Schreiber-Platz 1  12161  Berlin  Germany

In [8]:
header_list = ['restaurant', 'street', 'zip', 'city', 'country', 'lat', 'long']
df = df.reindex(columns = header_list)

In [13]:
key = 'ZOjyJkQAA3tkwCxaHWdf4Tgv89OEz9r4'
for i, row in df.iterrows():
    apiAddress = str(df.at[i,'street'])+','+str(df.at[i,'zip'])+','+str(df.at[i,'city'])+','+str(df.at[i,'country'])
    parameters = {
        "key":key,
        "location": apiAddress
    }

    response = requests.get("http://www.mapquestapi.com/geocoding/v1/address", params=parameters)
    data = response.text
    dataJson = json.loads(data)['results']
    lat = (dataJson[0]['locations'][0]['latLng']['lat'])
    lng = (dataJson[0]['locations'][0]['latLng']['lng'])
    
    df.at[i,'lat'] = lat
    df.at[i,'long'] = lng
    
df.to_csv('Restaurants_Geo.csv')

In [25]:
df2 = pd.read_csv('Restaurants_Geo.csv', index_col=False)
df2 = df2.drop(columns='Unnamed: 0')

In [26]:
df2.head()

  restaurant             street    zip    city  country       lat      long
0  Starbucks      Am Bahnhof 40  57072  Siegen  Germany  50.87513   8.01625
1  Starbucks   Neue Promenade 3  10178  Berlin  Germany  52.52317  13.40230
2  Starbucks  Dircksenstrasse 2  10179  Berlin  Germany  52.52042  13.41338
3  Starbucks   Alexanderplatz 2  10178  Berlin  Germany  52.52128  13.41313
4  Starbucks   Grunerstrasse 20  10719  Berlin  Germany  52.52024  13.41470